.container {
    margin: auto;
    width: 60%;
    border: 5px solid #000000;
    padding: 10px;
}
#chatDisplay p {
    font-size: 25px;
}
.bottom-panel, .bottom-panel input {
    font-size: 25px;
}
#sendButton {
    font-size: 22px;
}